body{
    font-family: 'Lora', serif;
    padding-top:3em;
}

.playfair{
    font-family: 'Playfair Display', serif;
}

.etiqueta-post{
    color:#c09f21;
}

.text-black{
    color:#000;
    text-decoration: none!important;
}

.text-black:hover{
    color:#555;
}

article{
    margin: 4em 0;
}

footer,aside{
    background: #f0f3f6;
}